body {
    padding: 0;
    margin: 0;
    text-align: justify;
}

.hidden {
    display: none;
}

#editableTable td {
    text-align: center;
    vertical-align: middle;
}

#editableTable tr {
    text-align: center;
    vertical-align: middle;
}
